<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Registration</title>
</head>
<body>
    <h1>Maryland Voter Registration Dashboard</h1>
    <iframe title="Which parts of Maryland had the highest amount of registered voters per 100,000 residents in 2024?" aria-label="Map" id="datawrapper-chart-xWkpQ" src="https://datawrapper.dwcdn.net/xWkpQ/3/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="507" data-external="1"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"]){var e=document.querySelectorAll("iframe");for(var t in a.data["datawrapper-height"])for(var r,i=0;r=e[i];i++)if(r.contentWindow===a.source){var d=a.data["datawrapper-height"][t]+"px";r.style.height=d}}}))}();
    </script>
    <label for="county-select">Select County:</label>
    <select id="county-select">
        <option value="">-- Select County --</option>
        <option value="/">Statewide</option>
        {% for c in counties %}
            <option value="/county/{{ c.county }}">{{ c.county }}</option>
        {% endfor %}
    </select>

    <script>
    document.getElementById("county-select").addEventListener("change", function () {
        if (this.value) {
            window.location.href = this.value;
        }
    });
    </script>
</body>
</html>