<!doctype html>
<html lang="en">
  <head>
    <link rel="preload" href="/static/style.css" as="style" onload="this.rel='stylesheet'">
    <noscript>
      <link rel="stylesheet" href="/static/style.css">
    </noscript>
  </head>
  <body>
    <h1>Who Votes in Maryland?</h1><br>
    <nav class="site-nav">
      <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('election_2024') }}">2024 Election</a></li>
        <li><a href="{{ url_for('gender') }}">By Gender and Age</a></li>
        <li><a href="{{ url_for('election_2020') }}">2020 Election</a></li>
      </ul>
    </nav>

    {% block content %}{% endblock %}
  </body>
</html>