{% extends "base.html" %}
{% block content %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
  <!-- Include static js, Chart.js and D3.js -->
  <script src="static/script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://d3js.org/d3.v7.min.js"></script>
    
  <script src="//static.dwcdn.net/js/events.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <style>
  </style>
</head>
<body>
  <br>
  <div id="controls">
    <label for="county-select">Select County:</label>
    <select id="county-select">
      {% for c in counties %}
        <option value="{{ c }}">{{ c }}</option>
      {% endfor %}
    </select>
  </div>

  <div id="graph"></div>

  <script>
    function updateGraph() {
      const county = encodeURIComponent(
        document.getElementById('county-select').value
      );
      fetch(`/plot_gender?county=${county}`)
        .then(res => res.json())
        .then(fig => {
          Plotly.react('graph', fig.data, fig.layout);
        });
    }

    // set up listener & initial load
    document
      .getElementById('county-select')
      .addEventListener('change', updateGraph);

    updateGraph();
  </script>
</body>
</html>
{% endblock %}