<!doctype html>
<html lang="en">
    <head></head>
    <body>
        <h1>Maryland Voter Turnout Data - Eligible Inactive Voters</h1>

        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">Home</a>
            <a href="official-turnout">Official Maryland Turnout</a>
            <a href="eligile-active">Eligible Active Voters</a>
            <a href="eligible-inactive">Eligible Inactive Voters</a>
        </div>

        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>

        <table border=1 cellpadding=7>
            <tr>
                <th>County</th>
                <th>Democrat</th>
                <th>Republican</th>
                <th>Bread and Roses</th>
                <th>Green</th>
                <th>Libertarian</th>
                <th>Working Class Party</th>
                <th>Other</th>
                <th>Unaffiliated</th>
                <th>No Labels Maryland</th>
                <th>Year</th>
            </tr>
            {% for obj in object_list %}
            <tr>
                <td>{{ obj.County }}</td>
                <td>{{ obj['Democrat'] }}</td>
                <td>{{ obj['Republican'] }}</td>
                <td>{{ obj['Bread and Roses'] }}</td>
                <td>{{ obj.Green }}</td>
                <td>{{ obj.Libertarian }}</td>
                <td>{{ obj['Working Class Party'] }}</td>
                <td>{{ obj.Other }}</td>
                <td>{{ obj.Unaffiliated }}</td>
                <td>{{ obj['No Labels Maryland'] }}</td>
                <td>{{ obj.Year }}</td>
            </tr>
            {% endfor %}
        </table>
        
        <script>
            function openNav() {
              document.getElementById("mySidenav").style.width = "250px";
            }
            
            function closeNav() {
              document.getElementById("mySidenav").style.width = "0";
            }
        </script>
    </body>
</html>